<%- include('../layouts/header.ejs') %>
<%- include('./userheader.ejs') %>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="/assets1/img/icon/search.png" alt=""></a>
            <a href="/wishlist"><img src="/assets1/img/icon/heart.png" alt=""></a>
            <a href="#"><img src="/assets1/img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.             
            </p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

 
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <!-- <div class="hero__items set-bg" data-setbg="/assets1/img/hero/banner4.jpg"> -->
                <div class="hero__items set-bg" data-setbg="/images/7332036.jpg">

                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <!-- <h6>Latest Electronics</h6>
                                <h2>Discover Cutting-Edge Gadgets</h2>
                                <p>Explore a wide range of innovative electronic items and gadgets that will elevate your
                                    lifestyle. From smart devices to high-tech accessories, we've got it all.</p>
                                <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="hero__items set-bg" data-setbg="/assets1/img/hero/banner4.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>Smart Living</h6>
                                <h2>Elevate Your Home with Modern Appliances</h2>
                                <p>Upgrade your lifestyle with our range of high-tech home appliances. From intelligent kitchen
                                    gadgets to smart home systems, we offer innovative solutions for a convenient and efficient
                                    living experience.</p>
                                <a href="#" class="primary-btn">Explore Now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <section class="banner spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-4">
                    <div class="banner__item">
                        <div class="banner__item__pic">
                            <img src="/assets1/img/banner/gaminglap1.jpg" style="z-index:0;" alt="">
                        </div>
                        <div class="banner__item__text" style="z-index: 1;">
                            <h2>Gaming Laptop's</h2>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner__item banner__item--middle">
                        <div class="banner__item__pic">
                            <img src="/assets1/img/banner/iphone1.jpeg" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>iPhone's</h2>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="banner__item banner__item--last">
                        <div class="banner__item__pic">
                            <img src="/assets1/img/banner/headset1.jpg" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Headphone's</h2>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Product Section Begin -->
    <!-- <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="filter__controls">
                        <li class="active" data-filter="*">Best Sellers</li>
                        <li data-filter=".new-arrivals">New Arrivals</li>
                        <li data-filter=".hot-sales">Hot Sales</li>
                    </ul>
                </div>
            </div>
            
            

        </div>
    </section> -->
    <!-- Product Section End -->

    <!-- Categories Section Begin -->
    <section class="categories spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="categories__text">
                        <h2>Explore Our <br /> <span>Gaming Laptop</span> <br /> Collection</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories__hot__deal">
                        <img src="/assets1/img/tuf1.png" alt="Gaming Laptop">
                        <div class="hot__deal__sticker">
                            <span>Best Price</span>
                            <h5>    1299.99</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1">
                    <div class="categories__deal__countdown">
                        <span>Deal Of The Week</span>
                        <h2>Powerful Gaming Laptop</h2>
                        <div class="categories__deal__countdown__timer" id="countdown">
                            <div class="cd-item">
                                <span>  5</span>
                                <p>Days</p>
                            </div>
                            <div class="cd-item">
                                <span>8</span>
                                <p>Hours</p>
                            </div>
                            <div class="cd-item">
                                <span>42</span>
                                <p>Minutes</p>
                            </div>
                            <div class="cd-item">
                                <span>17</span>
                                <p>Seconds</p>
                            </div>
                        </div>
                        <a href="#" class="primary-btn">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Categories Section End -->

   

    

    

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <!-- At the bottom of your HTML body, add this script -->
<script>
    // function addToCartConfirmation(event, productName) {
    //     event.preventDefault();

    //     // Use a confirm alert for confirmation
    //     var userConfirmation = confirm(`Do you want to add "${productName}" to your cart?`);

    //     // If the user confirms, proceed with adding to the cart
    //     if (userConfirmation) {
    //         window.location.href = event.target.href; // Redirect to the "Add to Cart" link
    //     }
    // }
</script>

    <%- include('userfooter.ejs') %>

    
    <%- include('../layouts/footer.ejs') %>