<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Bootstrap JS CDN -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<link rel="stylesheet" href="dist/css/main.css?v=1628755089081">
<aside class="aside is-placed-left is-expanded">
    <div class="aside-tools">
      <div>
        My <b class="font-black">Profile</b>
      </div>
    </div>
    <div class="menu is-menu-main">
      <p class="menu-label">General</p>
      <ul class="menu-list">
        <li class="active">
          <a href="index.html">
            <span>-</span>
            <span class="menu-item-label">Dashboard</span>
          </a>
        </li>
      </ul>
      <p class="menu-label">Examples</p>
      <ul class="menu-list">
        <li class="--set-active-tables-html">
          <a href="/admin/addproducts">
            <span>-</span>

            <span class="menu-item-label">Add Products</span>
          </a>
        </li>
        <li class="--set-active-forms-html">
          <a href="/admin/viewproducts">
            <span>-</span>

            <span class="menu-item-label">View Products</span>
          </a>
        </li>
        <li class="--set-active-profile-html">
          <a href="/admin/category">
            <span>-</span>

            <span class="menu-item-label">Category</span>
          </a>
        </li>
        
        <li class="--set-active-profile-html">
  
          <a href="/admin/couponmanagement">
            <span>-</span>

            <span class="menu-item-label">Coupon Management</span>
          </a>
        </li>
        <li class="--set-active-something-html">
  
          <a href="/admin/salesreport">
            <span>-</span>

            <span class="menu-item-label">Sales Report</span>
          </a>
        </li>
        <li class="--set-active-profile-html">
  
          <a href="/admin/graph">
            <span>-</span>

            <span class="menu-item-label">Graph</span>
          </a>
        </li>
        <li class="--set-active-something-html">
  
          <a href="/admin/orders">
            <span>-</span>

            <span class="menu-item-label">View Orders</span>
          </a>
        </li>
        <li class="--set-active-something-html">
  
          <a href="/admin/offers">
            <span>-</span>

            <span class="menu-item-label">Add Offers</span>
          </a>
        </li>
        <li class="--set-active-something-html">
  
          <a href="/admin/returnapproval">
            <span>-</span>

            <span class="menu-item-label">Return Approval</span>
          </a>
        </li>
        <li class="--set-active-something-html">
  
          <a href="/admin/banners">
            <span>-</span>

            <span class="menu-item-label">Banner</span>
          </a>
        </li>
        <!-- <li class="--set-active-profile-html">
  
          <a href="profile.html">
            <span class="icon"><i class="mdi mdi-lock"></i></span>
            <span class="menu-item-label">ssdfa</span>
          </a>
        </li>
        <li class="--set-active-something-html">
  
          <a href="profile2.html">
            <span class="icon"><i class="mdi mdi-lock"></i></span>
            <span class="menu-item-label">ssdfa</span>
          </a>
        </li>
        <li class="--set-active-profile-html">
  
          <a href="profile.html">
            <span class="icon"><i class="mdi mdi-lock"></i></span>
            <span class="menu-item-label">ssdfa</span>
          </a>
        </li>
        <li class="--set-inactive-something-html">
  
          <a href="profile2.html">
            <span class="icon"><i class="mdi mdi-lock"></i></span>
            <span class="menu-item-label">ssdfa</span>
          </a>
        </li> -->
        
      </ul>
      <p class="menu-label">About</p>
      <ul class="menu-list">
        
        <li>
          <a href="/admin/about" class="has-icon">
            <span class="icon"><i class="mdi mdi-help-circle"></i></span>
            <span class="menu-item-label">About Admin</span>
          </a>
        </li>
        <li>
          <a href="/admin/logout" class="has-icon">
            <span class="icon"><i class="mdi mdi-github-circle"></i></span>
            <span class="menu-item-label">Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>


