<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

  <!-- Bootstrap JS CDN -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</head>

<body>
  <link rel="stylesheet" href="dist/css/main.css?v=1628755089081">
  <aside class="aside is-placed-left">
    <div class="aside-tools">
      <div>
        My <a href="/home" class="font-black">Profile</a>
      </div>
    </div>
    <div class="menu is-menu-main">
      <p class="menu-label">General</p>
      <ul class="menu-list">
        <li class="">
          <a href="/showorders">
            <span>-</span>
            <span class="menu-item-label">Show Orders</span>
          </a>
        </li>
      </ul>
      <ul class="menu-list">
        <li class="--set-active-tables-html">
          <a href="/changepassword">
            <span>-</span>

            <span class="menu-item-label">Change Password</span>
          </a>
        </li>
        <li class="--set-active-forms-html">
          <a href="/canceledorders">
            <span>-</span>

            <span class="menu-item-label">Cancelled Orders</span>
          </a>
        </li>
        <li class="--set-active-profile-html">
          <a href="/wallethistory">
            <span>-</span>

            <span class="menu-item-label">Wallet History</span>
          </a>
        </li>

        <!-- <li class="--set-active-profile-html">

          <a href="/availablecoupon">
            <span>-</span>

            <span class="menu-item-label">Available Coupons</span>
          </a>
        </li> -->

        <li class="--set-active-profile-html">

          <a href="/editprofile">
            <span>-</span>

            <span class="menu-item-label">Edit Profile</span>
          </a>
        </li>


      </ul>
      <p class="menu-label">About</p>
      <ul class="menu-list">

        <li>
          <a href="/userprofile" class="has-icon">
            <span class="icon"><i class="mdi mdi-help-circle"></i></span>
            <span class="menu-item-label">My Details</span>
          </a>
        </li>

        <li>
          <a href="/home" class="has-icon">
            <span class="icon"><i class="mdi mdi-github-circle"></i></span>
            <span class="menu-item-label">Home</span>
          </a>
        </li>

        <li>
          <a href="/logout" class="has-icon">
            <span class="icon"><i class="mdi mdi-github-circle"></i></span>
            <span class="menu-item-label">Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>